<%- include("header") -%>
    <section class="home">
        <div class="content">
            <h3 class="contentheader">Happy Home <span><img src="/icon/deal.svg" alt="deal icon"></span></h3>
            <p class="contentbody">Place where you can find your dream home to buy and sell other dream home to them. Become a part of the growing Happy Home family. As a promise to our real-estate agent community, all our listings are completely free & always will be.</p>
            <div class="btns">
                <a href="/login" class="links"><div class="contentbutton">
                    <button class="contentbtn">Login</button>
                </div></a>
                <a href="/register" class="links"><div class="contentbuttonop">
                    <button class="contentbtnop">Register</button>                
                </div></a>               
            </div>
        </div>
        <div class="image">
            <img src="/image/home.jfif" alt="home image">
        </div>
    </section>
<%- include("footer") -%>