<%- include("header") -%>
    <section class="home">
        <div class="content">
            <h3 class="contentheader">Happy Home <span><img src="/icon/deal.svg" alt="deal icon"></span></h3>
            <p class="contentbody">Place where you can find your dream home to buy and sell other dream home to them. Become a part of the growing Happy Home family. As a promise to our real-estate agent community, all our listings are completely free & always will be.</p>
            <div class="btns">
                <a href="/login" class="links"><div class="contentbutton">
                    <button class="contentbtn">Login</button>
                </div></a>
                <a href="/register" class="links"><div class="contentbuttonop">
                    <button class="contentbtnop">Register</button>                
                </div></a>               
            </div>
        </div>
        <div class="image">
            <img src="/image/home.jfif" alt="home image">
        </div>
    </section>
    <script>
$("document").ready( function () {
                alertify.confirm('How To Use', 'If you are a buyer then goto buy or rent section then find your dream house and then send room id to property owner and then chat with them and final the deal.If you are a seller then goto sale or lease section then place the property and wait for interesed people and then contact then in chat section and make the deal.', function(){ alertify.error('OK') }, function(){ alertify.error('Cancel')});
            }); 
    </script>
<%- include("footer") -%>