<%- include("header") -%>
    <section class="home">
        <div class="content">
            <h3 class="contentheader">Happy Home <span><img src="/icon/deal.svg" alt="deal icon"></span></h3>
            <p class="contentbody">Place where you can find your dream home to buy and sell other dream home to them. Become a part of the growing Happy Home family. As a promise to our real-estate agent community, all our listings are completely free & always will be.</p>
            <div class="btns">
                <a href="/login" class="links"><div class="contentbutton">
                    <button class="contentbtn">Login</button>
                </div></a>
                <a href="/register" class="links"><div class="contentbuttonop">
                    <button class="contentbtnop">Register</button>                
                </div></a>               
            </div>
        </div>
        <div class="image">
            <img src="/image/home.jfif" alt="home image">
        </div>
    </section>
    <script>
$("document").ready( function () {
                alertify.confirm('How To Use', 'If you are buyer (1) Enter in buy/rent section (2) Find your dream place (3) Send Unique Room Id (4) Chat with owner (5) Final the Deal.If you are seller (1) Enter in sale/lease section (2) Place your listing (3) Get SMS from interesed user (4) Make the chat (5) Final the deal (6) Close the listing.', function(){ alertify.error('OK') }, function(){ alertify.error('Cancel')});
            }); 
    </script>
<%- include("footer") -%>