<section class="footer">
    <hr class="footerline" size="0">
    <div class="content">
        <p>Copyright <span><img src="/icon/icon.svg" alt="happyhomeicon"></span> Happy Home @2020</p>
    </div>
</section>
