<%- include("header") -%>
<%- include("nav") -%>
    <section class="allformsection">
        <div class="allformheader">
            <p><span><img src="/icon/type.svg" alt="type logo"> Buy <span><img src="/icon/type.svg" alt="type logo"></p>
        </div>
        <div class="formsection">
            <form action="/home/buy" method="post">
              <div class="element">
                <div class="element1">
                    <p>Type <span><img src="/icon/dealer.svg" alt="dealer logo"></span></p>
                    <input type="radio" id="elebuy" name="type" value="buy" checked disabled>
                    <label for="elebuy">Buy Home</label>
                    <input type="radio" id="elerent" name="type" value="rent" disabled>
                    <label for="elerent">Rent Home</label>
                </div>
                <div class="element2">
                    <p>Type of Property <span><img src="/icon/dealer.svg" alt="dealer logo"></p>
                    <input type="radio" id="eleapartment" name="typeofp" value="apartment">
                    <label for="eleapartment">Apartment</label>
                    <input type="radio" id="elebungalows" name="typeofp" value="bungalows">
                    <label for="elebungalows">Bungalows</label>
                </div>
                <div class="element3">
                    <p>Property Details <span><img src="/icon/dealer.svg" alt="dealer logo"></p>
                    <label for="elename">Name: </label>
                    <input type="text" name="namepro" id="elename" placeholder="eg. Aurora" autocomplete="off">
                    <br>
                    <label for="elenumber">Number: </label>
                   <input type="number" name="numberpro" id="elenumber" placeholder="eg. 34" autocomplete="off">
                    <br>
                    <label for="elefloor">Floor: </label>
                    <input type="number" name="floorpro" id="elefloor" placeholder="eg. 4" autocomplete="off">
                    <br>
                    <label for="elearea">Area: </label>
                    <input type="text" name="areapro" id="elearea" placeholder="eg. Karelibaug" autocomplete="off">
                    <br>
                    <label for="elecity">City: </label>
                    <input type="text" name="citypro" id="elecity" placeholder="eg. Vadodara" autocomplete="off">
                    <br>
                    <label for="elestate">State: </label>
                    <input type="text" name="statepro" id="elestate" placeholder="eg. Gujarat" autocomplete="off">                        <br>
                    <label for="elepincode">Pin Code: </label>
                    <input type="number" name="pincodepro" id="elepincode" placeholder="eg. 390022" autocomplete="off">
                    <br>
                    <label for="elebudget">Budget: </label>
                    <input type="range" name="budgetpro" id="elebudget" min="0" max="100">
                    <span id="elebudgetout"></span>                        
                    <br>
                    <pre>* Budget value is in lakhs and range is 0 to 100.</pre>
                </div>
                <div class="element4">
                    <p>Rera Approved <span><img src="/icon/dealer.svg" alt="dealer logo"></p>
                    <input type="radio" name="rera" id="elereraappy" value="yes">
                    <label for="elereraappy">Yes</label>
                    <input type="radio" name="rera" id="elereraappn" value="no">
                    <label for="elereraappn">No</label>
                    <br>    
                </div>
                <div class="element5">
                    <p>Extra Filters <span><img src="/icon/dealer.svg" alt="dealer logo"></p>
                    <label for="elerooms">Number Of Rooms: </label>
                    <input type="number" name="noofrooms" id="elerooms" placeholder="eg. 3" autocomplete="off">
                    <br>
                    <label for="elebathrooms">Number Of Bathrooms: </label>
                    <input type="number" name="noofbathrooms" id="elebathrooms" placeholder="eg. 4" autocomplete="off">
                    <br>
                    <label>Furnishing: </label>
                    <input type="radio" name="furnishedpro" id="eleunfurnishing" value="unfurnishing">
                    <label for="eleunfurnishing">Un-Furnishing</label>
                    <input type="radio" name="furnishedpro" id="elesemifurnishing" value="semifurnishing">
                    <label for="elesemifurnishing">Semi-Furnishing</label>
                    <input type="radio" name="furnishedpro" id="elefullyfurnishing" value="fullyfurnishing">
                    <label for="elefullyfurnishing">Fully-Furnishing</label>
                    <br>
                    <label for="eleproarea">Property Area: </label>
                    <input type="number" name="areasqpro" id="eleproarea" placeholder="eg. 10000" autocomplete="off">
                    <br>
                    <pre>* Property Area is in sqaure foot.</pre>
                    <label>Property Facing: </label>
                    <input type="radio" name="facingpro" id="elefacingeast" value="eastfacing">
                    <label for="elefacingeast">East</label>
                    <input type="radio" name="facingpro" id="elefacingwest" value="westfacing">
                    <label for="elefacingwest">West</label>
                    <input type="radio" name="facingpro" id="elefacingnorth" value="northfacing">
                    <label for="elefacingnorth">North</label>
                    <input type="radio" name="facingpro" id="elefacingsouth" value="southfacing">
                    <label for="elefacingsouth">South</label>
                </div>
            </div>
            <div class="elementbtn">
                <button type="submit">Find</button>
            </div>  
            </form>
        </div>
    </section>
    <script>
        var slider = document.getElementById("elebudget");
        var output = document.getElementById("elebudgetout");
        output.innerHTML = slider.value;
            slider.oninput = function() {
            output.innerHTML = this.value;
        }
    </script>
<%- include("bar") -%>
<%- include("footer") -%>