<%- include("header") -%>
<%- include("nav") -%>
    <section class="homesearch">
        <div class="buysection">
            <div class="buyleft">
                <h3>Buy <span><img src="/icon/buy.svg" alt="buy logo"></span></h3>
            </div>
            <div class="buyright">
                <div class="buyhome">
                    <div class="buyhomeimage">
                        <img src="/image/house1.jfif" alt="house 1">
                    </div>
                    <div class="buyhomecontent">
                        <p>Here you can buy your dream home from searching through our custom search and filters and then negotiation with owner through our chatting feature proceed by clicking button down here.</p>  
                        <a href="/home/buy" class="links"><button>Buy</button></a>
                    </div>
                </div>
                <div class="buyrenthome">
                    <div class="buyrenthomeimage">
                        <img src="image/house2.jfif" alt="house 2">
                    </div>
                    <div class="buyrenthomecontent">
                        <p>Here you can buy your dream home for rent from our custom search feature and then doing negotiation with the owner of rent through chatting feature proceed by clicking button down here.</p>
                        <a href="/home/rent" class="links"><button>Rent</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sellsection">
            <div class="sellleft">
                <h3>Sale <span><img src="icon/sale.svg" alt="sale l"></span></h3>
            </div>
            <div class="sellright">
                <div class="sellhome">
                    <div class="sellhomeimage">
                        <img src="/image/house3.jfif" alt="house 3">
                    </div>
                    <div class="sellhomecontent">
                        <p>Here you can place your listing for selling your own property by using custom types and amenities of your property and then after doing chatting you can sell other dream home to them proceed by clicking button down here.</p>
                        <a href="/home/sale" class="links"><button>Sale</button></a>
                    </div>
                </div>
                <div class="sellrenthome">
                    <div class="sellrenthomeimage">
                        <img src="/image/house4.jfif" alt="house 4">
                    </div>
                    <div class="sellrenthomecontent">
                        <p>Here you can place your listing for lease your property with custom amenities of your home and then after doing chatting with the buyer through our chatting feature you can lease your place proceed by clicking button down here.</p>
                        <a href="/home/lease" class="links"><button>Lease</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include("bar") -%>
<%- include("footer") -%>