<section class="header">
    <div class="navbar">
        <div class="grid">
            <a href="/home" class="links navitems"><li>Home</li></a>
            <a href="/home/dashboard" class="links navitems"><li>Dashboard</li></a>
            <li class="navitems navmain">HAPPY <span><img src="/icon/residential.svg" alt="residential logo"></span> HOME</li>
            <a href="" class="links navitems"><li>About</li></a>
            <a href="/logout" class="links navitems"><li>Log Out</li></a>
        </div>
    </div>
    <hr class="headerline" size="0">
</section>