<section class="header">
    <div class="navbar">
        <div class="grid">
        <a href="/home" class="links navitems"><li onmouseover="alertify.error('Main Page');">Home</li></a>
            <a href="/home/dashboard" class="links navitems"><li onmouseover="alertify.error('See Own Property');">Dashboard</li></a>
            <a href="/vip/viplogin" class="links navitems"><li onmouseover="alertify.error('For VIP Access');">VIP</li></a>
            <li class="navitems navmain">HAPPY <span><img src="/icon/residential.svg" alt="residential logo"></span> HOME</li>
            <a href="/message" class="links navitems"><li onmouseover="alertify.error('Start Chat');">Chat</li></a>
            <a href="/aboutus" class="links navitems"><li onmouseover="alertify.error('About Happy Home');">About Us</li></a>
            <a href="/logout" class="links navitems"><li onmouseover="alertify.error('Logout Yourself');">Log Out</li></a>
        </div>
    </div>
    <hr class="headerline" size="0">
</section>
        