body{
    margin: 0;
    padding: 0;
    cursor: default;
    background-color:#E0E5EC;
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
}

.links{
    text-decoration: none;
    color: black;
    cursor: pointer;
    list-style-type: none;
}

::-webkit-scrollbar{
    width: 1%;
}

::-webkit-scrollbar-track{
    background-color: #E0E5EC;
}

::-webkit-scrollbar-thumb{
    background-color: #000;
    border: 2px solid #eee;
    border-radius: 10px;
    height: 10px;
}

.header .navbar{
    border: 0px solid #eee;
    margin: 2% 5%;
}

.header .navbar .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.header .grid .navitems{
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    font-size: 120%;
}

.header .grid .navmain{
    font-size: 200%;
    margin-top: -5%;
}

.header .navitems img{
    width: 15%;
}

.header .headerline{
    width: 80%;
    text-align: center;
}

.footer .footerline{
    text-align: center;
    width: 40%;
}

.footer .content{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.footer .content img{
    width: 2%;
}

.home .contentheader img{
    width: 6%;
}

.loader img{
    width: 5%;
    position: absolute;
    top: 48%;
    left: 48%;  
}

.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 10%;
}

.home .content{
    text-align: left;
    margin-left: 20%;
    margin-top: -5%;
}

.home .content .contentheader{
    font-family: 'Oswald', sans-serif;
    font-size: 250%;
}

.home .content .contentbody{
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 150%;
    margin-top: -5%;
    width: 75%;
}

.home .image img{
    border-radius: 10px;
    width: 90%;
    height: 90%;
    margin-right: 10%;
    margin-top: 1%;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.8);
}

.home .contentbutton button{
    cursor: pointer;
    float: left;
    background-color: black;
    color: white;
    border: none;
    padding: 2%;
    font-family: 'Oswald', sans-serif;
    width: 30%;
    font-size: x-large;
    border: 2px solid #000;
    margin-left: 1%;
}

.home .content button:hover{
    background-color: white;
    color: black;
}

.home .contentbuttonop button{
    margin-left: 1%;
    cursor: pointer;
    padding: 2%;
    font-family: 'Oswald', sans-serif;
    width: 30%;
    font-size: x-large;
    border: 2px solid #000;
    background-color: white;
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
}

.home .contentbuttonop button:hover{
    background-color: #000;
    color: #eee;
}

.home .content .contentbtn img{
    width: 15%;
    margin-left: 20%;
}

.homesearch{
    border: 0 solid #eee;
    margin: 2% 20%;
}

.homesearch img{
    width: 75%;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.8);
    border-radius: 10px;
    margin-bottom: 2%;
    margin-left: 8%;
}

.homesearch{
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
}

.homesearch .buyleft h3, .homesearch .sellleft h3{
    font-size: xx-large;
}

.homesearch .buyleft img, .homesearch .sellleft img{
    box-shadow: none;
    width: 5%;
    margin-bottom: -1%;
    margin-left: 0.2%;
}

.homesearch .buyhome{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 5%;
}

.homesearch .buyrenthome{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 5%;
}

.homesearch .sellhome{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 5%;
}

.homesearch .sellrenthome{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 5%;
}

.homesearch p{
    text-align: justify;
    text-align: start;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 125%;
    line-height: 150%;
}

.homesearch button{
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    padding: 0.5%;
    margin-top: -1%;
    font-family: 'Oswald', sans-serif;
    width: 20%;
    font-size: x-large;
    border: 2px solid #000;
}

.homesearch button:hover{
    background-color: white;
    color: black;
}

.allformsection .allformheader{
    text-align: center;
    font-size: 150%;
}

.allformsection .formsection{
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.8);
    border-radius: 10px;
    margin: 2% 20%;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 125%;
    padding-left: 5%;
    padding-top: 0.5%;
}


.allformsection .formsection p{
    font-weight: 600;
    margin-left: -2%;
    margin-bottom: 5px;
}

.formsection .element input[type="radio"], input[type="checkbox"]{
    opacity: 0;
    position: fixed;
    width: 0;
}

.formsection .element input[type="radio"] + label, input[type="checkbox"] + label{
    background-color: #ccc;
    color: #000;
    border-radius: 10px;
    padding: 0.5%;
    font-family: 'Oswald', sans-serif;
    font-size: 90%;
}

.formsection .element input[type="radio"]:checked + label{
    background-color: #000;
    color: #eee;
    border-radius: 10px;
    padding: 0.5%;
}

.formsection .element input[type="checkbox"]:checked + label{
    background-color: #000;
    color: #eee;
    border-radius: 10px;
    padding: 0.5%;
}

.element input::placeholder{
    font-family: 'Oswald', sans-serif;
}

.formsection .element label{
    margin: 2%;
}

.formsection .element input[type="text"]{
    border-radius: 5px;
    border: 2px solid #ccc;
    font-family: 'Oswald', sans-serif;  
    margin: 1% 0%;
}

.formsection .element input[type="text"]:focus{
    outline: none;
}

input[type="email"], input[type="password"]{
    border-radius: 5px;
    border: 2px solid #ccc;
    font-family: 'Oswald', sans-serif;  
    margin: 1% 0%;    
}

input[type="email"]:focus{
    outline: none;
}

input[type="password"]:focus{
    outline: none;
}

.formsection .element pre{
    font-weight: 500;
    margin-left: 2%;
}


.formsection .element input[type="number"]{
    border-radius: 5px;
    border: 2px solid #ccc;
    font-family: 'Oswald', sans-serif;  
    margin: 2% 0%;
}

.element input[type="number"]:focus{
    outline: none;
}

.elementbtn button{
    font-family: 'Oswald', sans-serif;
    font-size: 150%;
    width: 25%;
    margin: 5% 33%;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    border: 2px solid #000;
}

.elementbtn button:hover{
    color: #000;
    background-color: #eee;
}

.logelementbtn button, .regelementbtn button{
    margin-top: 2%;
    font-family: 'Oswald', sans-serif;
    font-size: 150%;
    width: 15%;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    border: 2px solid #000;
}

.logelementbtn button:hover, .regelementbtn button:hover{
    color: #000;
    background-color: #eee;
}

.formsection .element input[type="range"]{
    -webkit-appearance: none;
    background-color: transparent;
}

.formsection .element input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
}
  
.formsection .element input[type="range"]:focus{
    outline: none;
}
  
.formsection .element input[type="range"]::-ms-track{
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

.formsection .element input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    margin-top: -8px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.formsection .element input[type=range]::-webkit-slider-runnable-track {
    background: #000;
    height: 25%;
}

span img{
    width: 4%;
    margin-top: 2%;
}

input, label{
    cursor: pointer;
}

input{
    width: 20%;
}

.allformheader img{
    width: 3%;
}

.logformdiv, .regformdiv{
    text-align: center;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.8);
    border-radius: 10px;
    margin: 2% auto;
    width: 50%;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 125%;
    padding: 5% 0;
}

.dashboardsection{
    margin: 2% 10%;
}

.dashboardsection h3{
    font-size: x-large;
}

.dashboardsection h4{
    font-size: 125%;
    border: 0 solid #eee;
    margin-top: 5%;
}

.dashboardsection p{
    font-family: 'EB Garamond', serif;
    font-weight: 500;
}

.dashboardsection .leasegrid{
    border: 3px solid #bbb;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.8);
    border: none;
}

.dashboardsection .leasegrid .grid1{
    grid-column: 4/6;
}

.dashboardsection .salegrid{
    border: 3px solid #bbb;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.8);
    border: none;
}

.dashboardsection .salegrid .grid1{
    grid-column: 4/6;
}

.dashboardsection .dashcontent{
    margin-left: 5%;
}

.header2{
    width: 75%;
    margin: 0 auto;
}

.navitems2{
    font-family: 'EB Garamont', serif;
    font-weight: 400;
}

.header .grid .navmain2{
    list-style: none;
    font-size: 200%;
    margin-top: -5%;
}

.justbreak{
    height: 0.6vh;
}

.grid0{
    grid-column: 1/4;
    grid-row: 1/6;
}

.grid0 img{
    width: 80%;
    border-radius: 10px;
    box-shadow: 9px 9px 26px rgb(163,177,198,0.6), -9px -9px 26px rgba(255,255,255, 0.8);
}

.inputvis{
    visibility: hidden;
}

.grid10{
    grid-column: 1/7;
    text-align: center;
    margin-bottom: -5%;
}

.customgrid{
    grid-column: 1/2;
}

.spanstyle{
    font-weight: 600;
    font-size: 125%;
}

.slidermaker{
    height: 138vh;
    overflow-x: scroll;
}

.custommaker{
    margin: 2%;
}

::-webkit-scrollbar-corner{
    display: hidden;
}

.filecontainer {
    overflow: hidden;
    position: relative;
}

.filecontainer input[type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.filecontainer{
    border-radius: 10px;
    background-color: #ccc;
    width: 22%;
    padding: 2%;
    font-weight: 500;
    font-family: 'Oswald', serif;
}

.chat-container {
	max-width: 1100px;
	margin: -1% auto;
	overflow: hidden;
}

.chat-header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-header img{
    width: 10%;
    margin: 1%;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
    font-size: 20px;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.8);
	padding: 10px;
    margin-bottom: 20px;
    font-family: 'EB Garamond', serif;
    font-size: 150%;
}

.chat-sidebar h3 {
    margin-bottom: 15px;
}

.chat-sidebar ul li {
    font-family: 'EB Garamond', serif;
    font-size: 125%;
}

.chat-sidebar ul{
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.8);
}

.chat-messages {
	padding: 30px;
    max-height: 500px;
    margin-bottom: 4%;
    margin-right: 3%;
    overflow-y: scroll;
    font-family: 'EB Garamond', serif;
    font-size: 125%;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.8);
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-form-container {
	padding: 10px 15px;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
    border: 3px solid #bbb;
    outline: none;
    font-family: 'EB Garamond', serif;
    color: #000;
    border-radius: 10px;
    padding: 0.5%;
    font-size: 20px;
	padding: 5px;
	height: 40px;
	width: 100%;
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
    margin: 80px auto;
}

.join-header {
	text-align: center;
	padding: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-header img{
    width: 10%;
    margin: 1%;
}

.join-main {
	padding: 30px 40px;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
    display: block;
    margin-bottom: 5px;
    font-size: x-large;
}

.join-main input[type='text'] {
    border: 3px solid #bbb;
    outline: none;
    font-family: 'EB Garamond', serif;
    color: #000;
    border-radius: 10px;
    padding: 0.5%;
    font-size: 20px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

.chatbuttongrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    margin-top: -5%;
    margin-left: 15%;
}

.aboutnumber{
    font-family: 'EB Garamond', serif;
    font-size: 125%;
    text-align: center;
}

.aboutnumber .aboutgrid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    text-align: center;
}

.aboutnumber h3{
    font-weight: 600;
}

.aboutnumber img{
    width: 20%;
}

.aboutnumber .cards{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2,1fr);
}

.aboutnumber .cards .cardimg img{
    border-radius: 10%;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.8);
}

.aboutnumber .cards h1{
    font-size: 150%;
    margin-bottom: -10%;
}

.aboutnumber .card1, .card2{
    margin: 2% 20%;
    border-radius: 20px;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.8);
}

.aboutnumber .cards .cardimg img{
    width: 70%;
}

.aboutnumber h1{
    margin-bottom: 3%;
}

.aboutnumber p{
    margin-bottom: 5%;
}

.aboutnumber .maincard{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}

.aboutnumber .cardcontentlinks{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}

.aboutnumber .cardcontentlinks img{
    width: 30%;
}

.aboutnumber .formsection img{
    width: 3%;
}

@media  screen and (max-width: 800px) {
    
    .home{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .home .image{
        margin: 5% 20%;
    }

    input{
        width: 50%;
    }

    .logelementbtn button, .regelementbtn button{
        width: 50%;
    }

    ::-webkit-scrollbar{
        width: 2.5%;
    }

    .header .navbar .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .header .grid .navmain{
        grid-column: 1/4;
        margin: 2% auto;
    }
    
    .homesearch .buyhome,.homesearch .buyrenthome,.homesearch .sellhome,.homesearch .sellrenthome{
        grid-template-columns: 1fr;
    }

    .homesearch button{
        width: 100%;
    }    

    .dashboardsection .leasegrid, .dashboardsection .salegrid{
        grid-template-columns: repeat(1,1fr);
        text-align: left;
    }

    .dashboardsection .leasegrid .grid1{
        grid-column: 1;
    }

    .dashboardsection .salegrid .grid1{
        grid-column: 1;
    }

    .grid10{
        grid-column: 1;
        text-align: left;
    }

    .grid10 button{
        width: 100%;
    }

    .customgrid{
        grid-column: 1;
    }

    .grid0{
        grid-column: 1;
        grid-row: 1;
    }

    .grid0 img{
        width: 50%;
    }
    
    .elementbtn{
        width: 100%;
    }

    .elementbtn button{
        margin: 1%;
    }

    .aboutnumber .aboutgrid{
        grid-template-columns: repeat(2,1fr);
    }

    .aboutnumber .cards{
        grid-template-columns: repeat(1,1fr);
    }

    .aboutnumber .maincard{
        grid-template-columns: repeat(1,1fr);
    }
}